<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=APP_NAME%>-leech</title>
    <% if (NODE_ENV === 'development') { %> <% } %>
    <link rel="stylesheet" href="../commons.css" />
    <link rel="stylesheet" href="leech.css" />
    <style>
      * {
        scrollbar-width: thin;
        scrollbar-width: none;
      }
    </style>
  </head>

  <body id="LeechBody">
    <div id="Root"></div>
    <script src="/commons.js"></script>
    <script src="/ui-vues.js"></script>
    <script src="/ui-vuetify.js"></script>
    <% if (NODE_ENV === 'development') { %>
    <!-- <script src="/vendors~leech/leech.js"></script> -->
    <% } %>
    <script src="leech.js"></script>
  </body>
</html>
