bp-feilds-button,
bpass-button,
bp-selector-options,
selector-box,
bpass-selector {
  all: initial !important;
  position: fixed !important;
  z-index: 2747483646 !important;
}

bp-selector-options,
selector-box,
bpass-selector {
  top: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  pointer-events: none !important;
}

.icon-btext {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background: url('../icons/icon-btext-circle.png') center center no-repeat;
  background-size: cover;
}

.bp-fox-scroller {
  scrollbar-width: auto;
}
